.modal-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal-body {
    position: fixed;
    z-index: 30000;
    margin: 0;
    top: 33%;
    left: 32.25%;
}

.modal-body h2 {
    color: red;
    margin: 0;
    padding: 0 15px;
}
.message {
    padding: 15px;
}